@font-face {
  font-family: 'Stag Book';
  font-style: normal;
  font-weight: normal;
  src: local("Stag Book"), url("fonts/STAG-BOOK_0.woff") format("woff"); }

@font-face {
  font-family: 'Stag Medium';
  font-style: normal;
  font-weight: normal;
  src: local("Stag Medium"), url("fonts/STAG-MEDIUM_0.woff") format("woff"); }

@font-face {
  font-family: 'Stag Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Stag Semibold"), url("fonts/STAG-SEMIBOLD_0.woff") format("woff"); }

/*Sizes*/
/*Colors*/
/*Fonts*/
body {
  background-color: #f2f2f2;
  margin: 0;
  color: #454545;
  font-family: "Stag Book", "Georgia", serif; }

.container {
  background-color: #fff;
  width: 940px;
  margin: -80px auto 0;
  position: relative;
  padding-bottom: 40px; }
  @media all and (max-width: 940px) {
    .container {
      width: 100%; } }
  @media all and (max-width: 600px) {
    .container {
      margin: -20px auto 0; } }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.hidden {
  display: none; }

.post-banner {
  width: 100%; }
  .post-banner img {
    width: 100%;
    display: block;
    max-width: 1200px;
    margin: 0 auto; }

.post-content {
  padding: 20px 80px; }
  .post-content__title {
    display: block; }
    .post-content__title h1 {
      margin: 0;
      font-family: "Stag Semibold", "Georgia", serif;
      font-size: 30px;
      padding: 20px 0 10px;
      position: relative;
      border-bottom: 2px solid #ebedee; }
      .post-content__title h1:before {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        background: url("../img/star.png") center no-repeat;
        left: -56px;
        display: inline-block; }
  .post-content__subtitle {
    font-family: "Stag Medium", "Georgia", serif;
    font-size: 15px;
    color: #b6b6b6;
    margin-top: 10px; }
  .post-content p {
    font-size: 17px;
    line-height: 25px;
    margin: 0;
    padding: 12px 0; }
  .post-content__img {
    width: 375px;
    height: auto;
    margin-right: 20px;
    border: 5px solid #f2f2f2;
    float: left;
    margin-left: calc(-80px - 5px);
    box-sizing: border-box; }

.post-info {
  padding: 20px 0;
  border-top: 2px solid #b6b6b6;
  border-bottom: 2px solid #b6b6b6;
  margin-top: 10px; }
  .post-info__item {
    display: inline-block;
    color: #b6b6b6;
    font-size: 15px;
    margin-right: 60px; }
    .post-info__item span {
      font-weight: 700; }
    .post-info__item i {
      margin-right: 4px; }

.post-comments__personal {
  border-bottom: 2px solid #ebedee; }

.post-comments__title {
  margin: 0;
  font-family: "Stag Medium", "Georgia", serif;
  font-size: 30px;
  padding: 30px 0 40px;
  position: relative; }

.post-comments__textarea {
  width: calc( 100% - (20px + 88px + 32px));
  border: 2px solid #ebedee;
  border-radius: 5px;
  font-family: "Stag Book", "Georgia", serif;
  font-size: 17px;
  padding: 14px;
  height: 56px;
  resize: none;
  float: left; }
  .post-comments__textarea::-webkit-input-placeholder {
    color: #ebedee; }
  .post-comments__textarea:focus {
    outline: none; }

.post-comments__list {
  padding-top: 40px; }

.post-comments__item {
  margin-bottom: 40px; }
  .post-comments__item:last-child {
    margin-bottom: 0; }
  .post-comments__item:after {
    content: '';
    clear: both;
    display: table; }
  .post-comments__children .post-comments__item {
    margin-bottom: 30px; }
  .post-comments__item .post-comments__info {
    float: none;
    display: inline-block; }

.post-comments__avatar {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
  padding: 2px;
  border: 2px solid #ebedee;
  margin-right: 20px;
  float: left; }
  .post-comments__avatar img {
    border-radius: 5px; }
  .post-comments__children .post-comments__avatar {
    width: 60px;
    height: 60px; }

.post-comments__info {
  width: calc( 100% - (20px + 88px));
  float: left;
  position: relative; }
  .post-comments__children .post-comments__info {
    width: calc( 100% - (20px + 68px)); }
  .post-comments__info_item {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 10px;
    font-size: 17px;
    font-family: "Stag Book", "Georgia", serif;
    line-height: 15px; }
    .post-comments__info_item:last-child {
      margin-bottom: 0; }
    .post-comments__children .post-comments__info_item {
      margin-bottom: 10px; }
  .post-comments__info_wrapper:after {
    content: '';
    display: table;
    clear: both; }

.post-comments__form {
  margin-top: 20px;
  margin-left: 110px; }
  .post-comments__form .post-comments__textarea {
    width: 100%;
    box-sizing: border-box;
    height: 88px; }
  .post-comments__form_controls {
    margin-bottom: 20px; }

.post-comments__author {
  font-family: "Stag Medium", "Georgia", serif; }

.post-comments__msg {
  display: block;
  margin-right: 0; }

.post-comments__date, .post-comments__replyTo {
  color: #b6b6b6;
  font-size: 15px;
  font-family: "Stag Book", "Georgia", serif; }
  .post-comments__date span, .post-comments__replyTo span {
    font-family: "Stag Medium", "Georgia", serif; }

.post-comments__control {
  color: #b6b6b6;
  font-size: 15px; }
  .post-comments__control[data-message="cancel"] {
    float: right; }
  .post-comments__control-block span {
    margin-right: 10px; }
  .post-comments__control:hover {
    cursor: pointer; }
  .post-comments__control .fas {
    margin-right: 5px; }

.post-comments__reply-to .fas {
  transform: rotateY(180deg); }

.post-comments .user__avatar {
  width: 100%;
  height: auto; }

.post-comments__children {
  padding-left: 110px;
  display: inline-block; }
  .post-comments__children .post-comments__item:first-child {
    margin-top: 20px; }
  .post-comments__children .post-comments__item:last-child {
    margin-bottom: 0; }

.post-comments__load-more {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-top: 30px; }
  .post-comments__load-more_btn {
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: #ebedee;
    border: 2px solid #ebedee;
    padding: 10px; }
    .post-comments__load-more_btn:hover {
      cursor: pointer; }
    .post-comments__load-more_btn:before, .post-comments__load-more_btn:after {
      content: '';
      height: 2px;
      background: #ebedee;
      width: 200%;
      display: block;
      position: absolute;
      top: 50%; }
    .post-comments__load-more_btn:before {
      left: -210%; }
    .post-comments__load-more_btn:after {
      right: -210%; }

.post .form .post-comments__personal {
  border-bottom: 2px solid #ebedee;
  margin-bottom: 40px; }

.post .form-block {
  position: relative;
  margin-bottom: 10px; }
  .post .form-block--submit {
    text-align: right; }
  .post .form-block:after {
    content: '';
    clear: both;
    display: table; }

.post .form-submit {
  width: 140px;
  height: 44px;
  text-align: center;
  background-color: #f1c40f;
  border-radius: 10px;
  font-size: 17px;
  font-family: "Stag Medium", "Georgia", serif;
  border: none;
  transition: .2s; }
  .post .form-submit:hover {
    background-color: #dcb414;
    cursor: pointer; }
  .post .form-submit:focus {
    outline: none; }

@media all and (max-width: 940px) {
  .post-info {
    text-align: center; }
    .post-info__item {
      margin-right: 20px; }
  .post-comments__children {
    padding-left: 40px; } }

@media all and (max-width: 768px) {
  .post-content {
    padding: 20px 40px; }
    .post-content__title h1:before {
      position: relative;
      left: 0;
      margin-right: 20px;
      top: 5px; }
    .post-content__img {
      margin-left: 0; } }

@media all and (max-width: 600px) {
  .post .form-submit {
    width: 100%; }
  .post-info {
    padding: 10px 0; }
    .post-info__item {
      display: block;
      margin-right: 0;
      margin-bottom: 10px; }
      .post-info__item:last-child {
        margin-bottom: 0; }
  .post-content {
    padding: 10px; }
    .post-content__img {
      margin-bottom: 20px;
      float: none;
      width: 100%; }
    .post-content p {
      padding: 10px 0;
      font-size: 15px; }
    .post-content__title h1 {
      font-size: 24px; }
      .post-content__title h1:before {
        width: 24px;
        height: 24px;
        -webkit-background-size: contain;
        background-size: contain; }
  .post-comments__info_item {
    font-size: 15px;
    margin-bottom: 10px; }
    .post-comments__info_item:last-child {
      margin-right: 0; }
    .post-comments__info_item.post-comments__reply-to {
      display: none; }
  .post-comments__item {
    margin-bottom: 20px;
    border-bottom: 2px solid #ebedee; }
    .post-comments__item:last-child {
      border: none; }
    .post-comments__children .post-comments__item {
      margin-bottom: 15px;
      border: none; }
      .post-comments__children .post-comments__item:first-child {
        margin-top: 15px; }
  .post-comments__avatar {
    margin-right: 10px; }
  .post-comments__textarea {
    width: calc( 100% - (20px + 88px + 22px)); }
  .post-comments__children {
    padding-left: 20px; }
  .post-comments__form {
    margin-left: 0; }
  .post-comments__personal {
    margin-bottom: 20px; } }
